@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
	margin: 0;
}

.movieShop {
	display: flex;
	justify-content: space-around;
	min-height: 100vh;
}
.titleList h1 {
	text-align: center;
	font-size: 2.5rem;
	padding: 1rem;
}
.titleList {
	background: #000;
	color: white;
	justify-content: center;
	align-items: center;
	list-style: none;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.titleList::-webkit-scrollbar {
	display: none;
}

.description h1 {
	text-align: center;
	font-size: 2.5rem;
	padding-bottom: 2.5rem;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}
.description {
	padding: 1.5rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.titleList li {
	padding: 1.5rem;
	cursor: pointer;
	list-style: none;
}
.titleList li:hover {
	background: rgb(29, 28, 28);
	transform: scale(2rem);
	border-radius: 1rem;
	box-shadow: gray;
}
.description {
	background: white;
}
.description img {
	width: 50rem;
	justify-content: center;
	align-items: center;
	height: 50rem;
	border-radius: 0.4rem;
}
.description p {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-bottom: 1rem;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}
.description h2 {
	font: bolder;
	font-family: "Exo", sans-serif;
}
#desc img {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 25rem;
	height: 25rem;
	width: 25rem;
}
#buy-ticket {
	padding: 2rem;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	border: none;
	font-size: larger;
	font-weight: bold;
}
#buy-ticket :hover {
	background: rgb(184, 179, 179);
}
#moviePoster img {
	padding: 4rem;
}

p {
	display: flex;
	text-align: center;
}
img {
	display: flex;
	align-items: center;
	justify-content: center;
}
moviePoster {
	display: flex;
	justify-content: center;
}
